#OperatingSystemFiles

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

#BuildArtifacts

.gradle/
build/
target/
bin/
out/
dependency-reduced-pom.xml

#EclipseProjectFiles

.classpath
.project
.settings/

#IntelliJIDEAFiles

*.iml
*.ipr
*.iws
*.idea